In [1]:
# import libraries
import pandas as pd

In [2]:
# read covid csv data
covid = pd.read_csv('last7days-by-modzcta.csv')

In [3]:
covid

,modzcta,modzcta_name,label,lat,lon,percentpositivity_7day,people_tested,people_positive,median_daily_test_rate,adequately_tested,daterange
0,10001,Chelsea/NoMad/West Chelsea,"10001, 10118",40.750693,-73.997137,0.46,658,3,369.4,Yes,June 19-June 25
1,10002,Chinatown/Lower East Side,10002,40.715781,-73.986176,0.25,1212,3,204.5,No,June 19-June 25
2,10003,East Village/Gramercy/Greenwich Village,10003,40.731825,-73.989164,0.29,1051,3,331.6,Yes,June 19-June 25
3,10004,Financial District,10004,40.703675,-74.013106,0.00,79,0,471.0,Yes,June 19-June 25
4,10005,Financial District,10005,40.706092,-74.008861,0.37,271,1,536.7,Yes,June 19-June 25
...,...,...,...,...,...,...,...,...,...,...,...
172,11691,Edgemere/Far Rockaway,11691,40.601330,-73.761357,0.49,1228,6,201.9,No,June 19-June 25
173,11692,Arverne/Edgemere,11692,40.592794,-73.792203,0.53,377,2,242.5,No,June 19-June 25
174,11693,Arverne/Broad Channel,11693,40.603699,-73.821926,0.41,242,1,205.2,No,June 19-June 25
175,11694,Belle Harbor-Neponsit/Rockaway Park,11694,40.577599,-73.844553,0.47,423,2,192.5,No,June 19-June 25
176,11697,Breezy Point,11697,40.559070,-73.907199,0.00,67,0,235.8,No,June 19-June 25

In [4]:
# filter out necessary covid data
nyc_cov = covid[['modzcta_name', 'median_daily_test_rate']]

In [7]:
# rename covid data columns for consistency
nyc_cov.rename(columns={'modzcta_name':'name'}, inplace=True)

C:\Users\eric_\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
nyc_cov

                                        name  median_daily_test_rate
0                 Chelsea/NoMad/West Chelsea                   369.4
1                  Chinatown/Lower East Side                   204.5
2    East Village/Gramercy/Greenwich Village                   331.6
3                         Financial District                   471.0
4                         Financial District                   536.7
..                                       ...                     ...
172                    Edgemere/Far Rockaway                   201.9
173                         Arverne/Edgemere                   242.5
174                    Arverne/Broad Channel                   205.2
175      Belle Harbor-Neponsit/Rockaway Park                   192.5
176                             Breezy Point                   235.8

[177 rows x 2 columns]

In [9]:
# double explode method to get rid of / and - in names to split aggregated neighborhoods
nyc_cov['name'] = nyc_cov['name'].str.split('/')

<ipython-input-9-b4dca63aefea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nyc_cov['name'] = nyc_cov['name'].str.split('/')

In [11]:
nyc_cov1 = nyc_cov.explode('name')

In [13]:
nyc_cov1['name'] = nyc_cov1['name'].str.split('-')

In [15]:
nyc_cov2 = nyc_cov1.explode('name')

In [19]:
nyc_cov2.sort_values(by='name', inplace=True)

In [27]:
nyc_cov3 = nyc_cov2.groupby(by='name', as_index=False).sum()

In [22]:
# function to fully print entire dataframe for visual
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [137]:
print_full(nyc_cov3)

                          name  median_daily_test_rate
1                     Allerton                   511.5
3                     Annadale                   263.7
4                     Arrochar                   317.3
5                      Arverne                   447.7
6                      Astoria                   666.2
7                      Astoria                   989.1
8                   Auburndale                   380.3
9                   Bath Beach                   388.2
10           Battery Park City                   830.8
11                   Bay Ridge                   285.9
12                  Baychester                   261.6
13                     Bayside                   428.8
14                     Bayside                   330.5
15                Bedford Park                  1179.1
16                Belle Harbor                   192.5
17                   Bellerose                   605.8
18                     Belmont                   487.2
19                 Bensonhurst                   338.0
20                Bergen Beach                   259.4
21                  Bloomfield                   288.6
22                 Boerum Hill                   474.7
23                Borough Park                   148.8
24                Breezy Point                   235.8
25                   Briarwood                   227.7
26              Brighton Beach                   451.5
27               Broad Channel                   205.2
28            Brooklyn Heights                   406.1
29                 Brownsville                   677.1
30                    Bushwick                   468.6
31             Cambria Heights                   271.3
32                    Canarsie                   259.5
33             Carroll Gardens                   428.1
34                 Castle Hill                   247.0
35              Central Harlem                   919.2
36              Central Harlem                   754.6
37                  Charleston                   297.5
39                     Chelsea                   729.2
40                   Chinatown                   554.4
41                 City Island                   233.4
42           Claremont Village                   477.3
43                Clason Point                   247.0
44                Clinton Hill                   637.6
45                  Co-op City                   320.6
46                 Cobble Hill                   428.1
47               College Point                   223.5
48                   Concourse                   551.0
49                Coney Island                   194.5
51                      Corona                   213.8
52                Country Club                   211.0
53               Crown Heights                   359.1
54               Crown Heights                   612.4
55               Cypress Hills                   549.3
56                       Dumbo                   406.1
57                 Ditmas Park                   306.7
58                  Douglaston                   634.7
59                    Downtown                   406.1
60               Dyker Heights                   220.1
61               East Elmhurst                   333.1
62               East Flatbush                   319.2
63               East Flatbush                   319.2
64                 East Harlem                   940.5
65                     Midtown                  1617.8
66               East New York                   917.9
67                East Village                   578.3
68           East Williamsburg                   447.3
69                    Edenwald                   624.9
70                    Edgemere                   444.4
71                    Elm Park                   346.2
72                    Elmhurst                   228.0
73                Far Rockaway                   201.9
74                   Fieldston                   362.5
75          Financial District                  1771.6
76                    Flatbush                   308.2
77                    Flatiron                   443.7
78                   Flatlands                   498.4
79                    Flushing                   283.9
80                     Fordham                   230.0
81                     Fordham                   241.7
82                Forest Hills                   286.2
83                 Fort Greene                   284.6
84               Fort Hamilton                   285.9
85               Fresh Meadows                   423.6
87             Gerritsen Beach                   198.7
88                    Glendale                   186.3
89                     Gowanus                   387.8
90                    Gramercy                   775.3
91                Graniteville                   324.4
92                   Gravesend                   358.3
93                 Great Kills                   264.9
94                  Greenpoint                   362.6
95           Greenwich Village                   621.0
96            Hamilton Heights                   186.9
97            Hamilton Heights                   238.9
98                    Steinway                   306.7
99                High  Bridge                   240.7
100                  Hillcrest                   468.4
101                     Hollis                   237.6
102                     Hollis                   186.7
103                 Holliswood                   424.3
104                  Homecrest                   388.9
105               Howard Beach                   186.9
106               Hudson Yards                   654.4
107                Hunts Point                   432.3
108                     Inwood                   224.9
109            Jackson Heights                   537.8
110             Jamaica Center                   498.8
111            Jamaica Estates                   250.2
112              Jamaica Hills                   250.2
113                 Kensington                   244.6
114                Kew Gardens                   275.5
115          Kew Gardens Hills                   228.6
116                Kingsbridge                   754.6
117        Kingsbridge Heights                   754.6
118                  Laurelton                   287.0
119                 Lenox Hill                  1674.3
120            Lighthouse Hill                   287.8
121             Lincoln Square                  1642.3
122                 Lindenwood                   186.9
123               Little Italy                   364.3
124                Little Neck                   634.7
125           Long Island City                   794.9
126            Lower East Side                   204.5
127            Manhattan Beach                   257.0
128           Manhattan Valley                   508.6
130                Marble Hill                   282.9
131                Marine Park                   259.4
132           Mariner's Harbor                   324.4
133                    Maspeth                   237.9
135                    Melrose                   310.3
136             Middle Village                   166.5
137              Midland Beach                   605.1
138                    Midtown                  1909.7
139                    Midwood                   498.9
140                 Mill Basin                   259.4
141        Morningside Heights                   914.0
142             Morris Heights                   230.1
143                Morris Park                   289.2
144                 Morrisania                   231.8
145                 Mott Haven                   483.2
146                 Mount Hope                   475.6
147                Murray Hill                  1530.5
148                   Neponsit                   192.5
149                   New Dorp                   796.3
151               North Corona                   213.8
152            North Riverdale                   362.5
153                    Norwood                   249.9
154            Oakland Gardens                   148.5
155                    Oakwood                   287.8
156                 Ocean Hill                   677.1
157                 Ozone Park                   433.8
158                 Park Slope                   862.5
159                Parkchester                   224.4
160                 Pelham Bay                   289.2
161             Pelham Gardens                   261.6
162             Pelham Parkway                   474.3
163                    Pomonok                   434.0
164                 Port Ivory                   324.4
165                Port Morris                   256.4
166              Port Richmond                   260.2
167               Prince's Bay                   297.5
168           Prospect Heights                   353.0
169  Prospect Lefferts Gardens                   616.0
170             Queens Village                   474.2
171            Queensboro Hill                   128.1
172              Randall Manor                   260.2
173                   Red Hook                   428.1
174                  Rego Park                   297.1
175              Richmond Hill                   450.7
176                  Ridgewood                   186.3
178                  Riverdale                   645.4
179              Rockaway Park                   192.5
180           Roosevelt Island                   274.2
181                   Rosedale                   614.3
182                  Rossville                   263.7
183                   Sea Gate                   194.5
184             Sheepshead Bay                   455.7
185                Shore Acres                   317.3
186                Silver Lake                   323.9
187                       Soho                   653.7
188                  Soundview                   450.0
189                South Beach                   317.3
190              South Jamaica                   564.0
191           South Ozone Park                   749.4
192        Springfield Gardens                   269.6
193             Spuyten Duyvil                   282.9
194                 St. Albans                   579.3
195                 St. George                   323.9
196            Stuyvesant Town                   589.9
197            Stuyvesant Town                   589.2
198            Stuyvesant Town                   246.7
199                  Sunnyside                   659.9
200                Sunset Park                   345.3
201                Throgs Neck                   211.0
202                  Todt Hill                   508.5
203                Tottenville                   207.9
205                    Tribeca                   922.1
206         University Heights                   460.1
207            Upper East Side                  2602.6
208            Upper West Side                  1058.1
209                     Utopia                   205.4
210                   Van Nest                   452.0
211                  Wakefield                   564.4
212         Washington Heights                   693.3
213         Washington Heights                   751.1
214              West Brighton                   260.2
215                    Chelsea                   369.4
216                 West Farms                   227.6
218               West Village                   290.1
219         Westchester Square                   513.6
220                 Whitestone                   219.6
221             Williamsbridge                   511.5
222               Williamsburg                   239.0
223               Williamsburg                   446.6
224            Windsor Terrace                   632.4
225                  Woodhaven                   222.2
226                   Woodlawn                   260.1
227                    Woodrow                   297.5
228                   Woodside                   243.9
229                  Yorkville                   928.3

In [122]:
# manually update all discrepancies by manually cross-referencing between uber data names and nyc_geo data names
nyc_cov3.at[223, 'name'] = 'Williamsburg'

In [119]:
# remove columns that do not exist in original nyc_geo data
indexname = nyc_cov3[nyc_cov3['name'] == 'West Harlem'].index
nyc_cov3.drop(indexname, inplace=True)

In [124]:
# grouping duplicate neighborhoods and summing the median daily test rates
# this is because some of the neighborhoods in the covid data were separate but were considered as one neighborhood in our original nyc_geo data
nyc_cov4 = nyc_cov3.groupby(by='name', as_index=False).sum()

In [125]:
nyc_cov4

          name  median_daily_test_rate
0     Allerton                   511.5
1     Annadale                   263.7
2     Arrochar                   317.3
3      Arverne                   447.7
4      Astoria                  1655.3
..         ...                     ...
200  Woodhaven                   222.2
201   Woodlawn                   260.1
202    Woodrow                   297.5
203   Woodside                   243.9
204  Yorkville                   928.3

[205 rows x 2 columns]

In [126]:
# read nyc_upp data
nyc_upp = pd.read_csv('nyc_upp_data.csv')

In [128]:
# merge covid data to nyc_upp data
nyc_uppc = nyc_upp.merge(nyc_cov4, how='outer', on='name')

In [130]:
# about one-third of our data for covid is null
# this may be due to neighborhood naming differences between data sets
# could also be due to lack of recording data in some neighborhoods
nyc_uppc.isnull().sum()

name                       0
longitude                  0
latitude                   0
uber_count                 0
avg_price                  0
adj_pop                    0
median_daily_test_rate    97
dtype: int64

In [139]:
nyc_cov4['median_daily_test_rate'].mean()

482.5575609756098

In [140]:
# choosing to fill na covid values with the mean of covid values
nyc_uppc.fillna(value=482.5, inplace=True)

In [142]:
nyc_uppc.isnull().sum()

name                      0
longitude                 0
latitude                  0
uber_count                0
avg_price                 0
adj_pop                   0
median_daily_test_rate    0
dtype: int64

In [143]:
# read ela scores data
ela = pd.read_csv('ELA_Scores.csv')

In [145]:
# filter out necessary ela columns
ela = ela[['name', 'avg_test_score']]

In [172]:
# dropping duplicates in ela data 
ela.drop_duplicates(subset='name', inplace=True, keep='first')

<ipython-input-172-7d2c402084db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ela.drop_duplicates(subset='name', inplace=True, keep='first')

In [176]:
# merge ela data to create completed dataset
nyc_data = nyc_uppc.merge(ela, how='left', on='name')

In [178]:
# save completed dataset as nyc_data.csv
nyc_data.to_csv('nyc_data.csv', index=False)