In [1]:
import pandas as pd

In [3]:
pop_den = pd.read_csv('Internet_Master_Plan__Adoption_and_Infrastructure_Data_by_Neighborhood.csv')

In [5]:
pop_den = pop_den[['Neighborhood Tabulation Area Name (NTA NAME)', 'Population Density (per Sq. Mi.)']]

In [7]:
pop_den.rename(columns={'Neighborhood Tabulation Area Name (NTA NAME)':'name', 'Population Density (per Sq. Mi.)':'pop_density'}, inplace=True)

C:\Users\eric_\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [9]:
pop_den['name'] = pop_den['name'].str.split('-')

<ipython-input-9-1968bb0f6f20>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_den['name'] = pop_den['name'].str.split('-')

In [11]:
pop_den1 = pop_den.explode('name')

In [12]:
pop_den1

                 name  pop_density
0    Brooklyn Heights     65994.44
0         Cobble Hill     65994.44
1      Sheepshead Bay     28707.93
1     Gerritsen Beach     28707.93
1     Manhattan Beach     28707.93
..                ...          ...
193       Great Kills     12998.13
194              park         0.00
194          cemetery         0.00
194               etc         0.00
194     Staten Island         0.00

[323 rows x 2 columns]

In [18]:
pop_den1.sort_values(by='name', inplace=True)

In [34]:
pop_den1.reset_index(inplace=True, level=0)

In [37]:
pop_den1.drop(columns=['level_0', 'index'], inplace=True)

In [13]:
# function to fully print entire dataframe for visual
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [110]:
print_full(pop_den1)

                          name  pop_density
0                     Allerton     27278.07
1                     Annadale      5889.53
2                Arden Heights     14854.70
3                    Arlington     10275.86
4                     Arrochar     11168.03
5                      Arverne     19218.47
6                      Astoria     52548.94
7                   Auburndale     16455.28
8                   Bath Beach     45378.38
9            Battery Park City     68332.35
10                   Bay Ridge     32735.27
11                 Bay Terrace     13246.99
12                  Baychester     26643.75
13                   Bayswater     29771.65
14          Bedford Stuyvesant     67585.47
15                Bedford Park    108062.96
16                Belle Harbor      7844.26
17                   Bellerose     13961.11
18                     Belmont     59106.12
19                 Bensonhurst     51241.41
20                 Bensonhurst     53825.75
21                Bergen Beach     18545.78
22                  Bloomfield      3585.03
23                 Boerum Hill     45659.80
24                Borough Park     51306.19
25                Breezy Point      7844.26
26                   Briarwood     41677.14
27              Brighton Beach     56151.61
28               Broad Channel      7844.26
29                     Bayside     14730.34
30                   Bronxdale     71877.78
31            Brooklyn Heights     65994.44
32                  Brookville     14320.00
33                 Brownsville     43791.45
35                    Bushwick     63352.81
36                    Bushwick     50561.81
37             Cambria Heights     17673.95
38                    Canarsie     30232.65
39               Carnegie Hill     75573.61
40             Carroll Gardens     27279.38
41                 Castle Hill     29569.89
42              Central Harlem     94663.74
43              Central Harlem     96048.08
44                  Charleston      4557.17
45                     Chelsea     58263.16
46                   Chinatown     82242.31
47                 City Island     18931.94
48                   City Line     49230.30
49                Civic Center     48705.56
50                Clason Point     29569.89
52                     Clifton     15911.11
53                     Clinton     80213.64
54                Clinton Hill     53033.78
55                  Co-op City     32674.83
56                 Cobble Hill     65994.44
57               College Point     13674.03
59           Concourse Village     99167.69
60                Coney Island     22388.49
62                      Corona     79369.44
63                Country Club     18931.94
65               Crown Heights     60422.70
66               Crown Heights     69463.16
67               Cypress Hills     49230.30
68                       Dumbo     45659.80
69                Dongan Hills     11019.58
71                  Douglaston     10367.35
72                    Downtown     45659.80
73               Dyker Heights     40971.96
74                   Concourse     99167.69
75               East Elmhurst     26411.27
76               East Flatbush     41978.05
77                    Flushing     23843.40
78                 East Harlem     69693.18
79                 East Harlem     97588.33
80                     Midtown     80840.32
81               East New York     23805.24
82               East New York     40418.57
83                East Tremont     64008.70
84                East Village    110128.21
85           East Williamsburg     26133.57
86                 Eastchester     26643.75
87                    Edenwald     26643.75
88                    Edgemere     19218.47
89              Edgewater Park     14395.58
90                    Elmhurst     70543.59
91                    Elmhurst     30112.66
92                 Eltingville      5889.53
93                Emerson Hill      4838.16
94                     Erasmus     54528.85
95                Far Rockaway     29771.65
96                    Farragut     41978.05
97                   Fieldston     15998.30
98                    Flatiron     58263.16
99                    Flatbush     64261.11
100                  Flatlands     36184.62
101                Floral Park     15018.90
102                   Flushing     50441.18
103                   Flushing     25860.43
104                    Fordham    108062.96
105                    Fordham    123330.43
106               Forest Hills     42351.69
107                Fort Greene     54874.58
108                  Fox Hills     15911.11
109              Fresh Meadows     19500.00
112                 Georgetown     18545.78
113            Gerritsen Beach     28707.93
114                  Glen Oaks     15018.90
115                   Glendale     33034.26
116                    Gowanus     48774.34
117                   Gramercy     98137.04
118               Graniteville     10275.86
119                   Grasmere     11168.03
120                  Gravesend     27048.21
121                Great Kills     12998.13
122                 Greenpoint     27207.87
123                Grymes Hill     15911.11
124           Hamilton Heights     90534.48
125                    Hammels     19218.47
127          Heartland Village      4838.16
128               High  Bridge     65472.88
129                  Hillcrest     25860.43
130                     Hollis     25260.98
131                 Holliswood     17840.52
132                  Homecrest     41497.22
133               Howard Beach     12363.76
134               Hudson Yards     58263.16
135                   Huguenot      5889.53
136              Hunters Point     18977.93
137                Hunts Point     14708.43
138                     Inwood     82076.56
139            Jackson Heights     57003.49
140             Jamaica Center     32208.24
141            Jamaica Estates     17840.52
142              Jamaica Hills     41677.14
143                 Kensington     61224.56
144                Kew Gardens     30237.84
145          Kew Gardens Hills     27601.47
146                Kingsbridge     37497.59
147        Kingsbridge Heights     71791.49
149                  Laurelton     18140.56
150                 Lenox Hill    106603.90
151            Lighthouse Hill      4838.16
152             Lincoln Square    112140.35
153                 Lindenwood     12363.76
154               Little Italy     48705.56
155                Little Neck     10367.35
156           Long Island City     22545.24
157                   Longwood     73615.79
158            Lower East Side     81950.00
160                    Madison     41955.10
161            Manhattan Beach     28707.93
162             Manhattanville     62550.00
163                Marble Hill     82076.56
164                Marine Park     18545.78
165           Mariner's Harbor     10275.86
166                    Maspeth     26038.28
167                    Maspeth     30112.66
168                    Melrose     67377.05
170             Middle Village     20020.29
171              Midland Beach     10657.29
172                    Midtown     25698.15
173              Midtown South     25698.15
174                    Midwood     41725.00
175                 Mill Basin     18545.78
176        Morningside Heights     76112.50
177             Morris Heights     75281.58
178                Morris Park     21703.08
179                 Morrisania     67377.05
180                 Mott Haven     35223.33
181                 Mott Haven     69156.45
182                 Mount Hope    102030.19
183                Murray Hill     26650.00
184                Murray Hill     95871.15
185               New Brighton     15564.18
186               New Brighton     10265.68
187                   New Dorp     10657.29
189            New Springville      3585.03
190               North Corona     84398.46
191            North Riverdale     15998.30
192                 North Side     55551.92
193                    Norwood     71485.71
194            Oakland Gardens     16306.01
195                    Oakwood     10191.54
197                 Ocean Hill     51118.06
198              Ocean Parkway     61224.56
199              Ocean Parkway     31818.75
200            Astoria Heights     42310.71
201                   Old Town     11019.58
202                  Olinville     52095.38
203                 Ozone Park     26628.89
204                 Park Slope     48774.34
205                Parkchester     91872.73
206                 Pelham Bay     18931.94
207             Pelham Gardens     27278.07
208             Pelham Parkway     34467.47
210                    Pomonok     25860.43
211                 Port Ivory     10275.86
212                Port Morris     35223.33
213              Port Richmond     14727.48
214               Prince's Bay      5889.53
215           Prospect Heights     60272.97
216  Prospect Lefferts Gardens     60122.12
217             Queens Village     21894.78
218            Queensboro Hill     21227.37
219               Queensbridge     22545.24
220                 Ravenswood     22545.24
221                   Red Hook     27279.38
222                  Rego Park     39184.72
223             Remsen Village     46970.94
224              Richmond Hill     35668.85
225            Richmond Valley      4557.17
226                  Ridgewood     42045.86
228                  Riverdale     15998.30
229              Rockaway Park      7844.26
230           Roosevelt Island    106603.90
231                   Rosebank     15138.32
232                   Rosedale     12072.40
233                  Rossville      9386.27
234                      Rugby     46970.94
235              Schuylerville     14395.58
236                   Sea Gate     22388.49
237             Sheepshead Bay     28707.93
238                Silver Lake     10265.68
239                       Soho     48705.56
240                  Soundview     62851.72
241                  Soundview     29569.89
242                South Beach     11019.58
243              South Jamaica     30621.68
244           South Ozone Park     27251.35
245                 South Side     55551.92
246        Springfield Gardens     26515.69
247        Springfield Gardens     14320.00
248             Spuyten Duyvil     37497.59
249                 St. Albans     19119.06
250                 St. George     15564.18
251                  Stapleton     15138.32
252              Starrett City     29888.10
253                   Steinway     22818.36
255            Stuyvesant Town    111675.00
256                  Sunnyside     18977.93
257                Sunset Park     66154.64
258                Sunset Park     29757.54
259                Throgs Neck     14395.58
260                  Todt Hill      4838.16
261                Tottenville      4557.17
262                     Travis      3585.03
263                    Tribeca     48705.56
264                 Turtle Bay     80840.32
266                  Unionport     33074.42
267         University Heights     75281.58
268            Upper East Side     75573.61
269            Upper West Side    105872.36
270                     Utopia     19500.00
272                   Van Nest     21703.08
273               Vinegar Hill     45659.80
274                  Wakefield     31269.23
275         Washington Heights     89104.94
276         Washington Heights    110680.72
277              West Brighton     55651.61
278                  Concourse     54731.43
279                 West Farms     65405.56
280                    Maspeth     18977.93
281              West Brighton     15564.18
282               West Village     72658.89
283         Westchester Square     33074.42
284         Westchester Square     21703.08
285                Westerleigh     10800.00
286                 Whitestone     12802.02
287             Williamsbridge     52095.38
288               Williamsburg     80542.86
289            Windsor Terrace     45518.00
290                    Wingate     60122.12
291                  Woodhaven     45396.24
292                   Woodlawn     31269.23
293                    Woodrow      9386.27
294                   Woodside     41526.73
295                  Yorkville    160120.41

In [108]:
# manually update all discrepancies by manually cross-referencing between uber data names and nyc_geo data names
pop_den1.at[283, 'name'] = 'Westchester Square'

In [109]:
# remove columns that do not exist in original nyc_geo data
indexname = pop_den1[pop_den1['name'] == 'op City'].index
pop_den1.drop(indexname, inplace=True)

In [44]:
# manually update all discrepancies by manually cross-referencing between uber data names and nyc_geo data names
pop_den1.at[29, 'pop_density'] = 14730.34

In [111]:
pop_den2 = pop_den1.groupby(by='name', as_index=False).mean()

In [114]:
nyc_data = pd.read_csv('nyc_data.csv')

In [119]:
nyc_name = nyc_data[['name', 'adj_pop']]

In [122]:
nyc_den = nyc_name.merge(pop_den2, how='left', on='name')

In [123]:
nyc_den.drop(columns='adj_pop', inplace=True)

In [125]:
nyc_den.isnull().sum()

name            0
pop_density    50
dtype: int64

In [200]:
print_full(nyc_den)

                          name    pop_density
0                     Allerton   27278.070000
1                     Annadale    5889.530000
2                Arden Heights   14854.700000
3                    Arlington   10275.860000
4                     Arrochar   11168.030000
5                      Arverne   19218.470000
6                      Astoria   52548.940000
7              Astoria Heights   42310.710000
8                   Auburndale   16455.280000
9                   Bath Beach   45378.380000
10           Battery Park City   68332.350000
11                   Bay Ridge   32735.270000
12                 Bay Terrace   13246.990000
13                  Baychester   26643.750000
14                     Bayside   14730.340000
15                   Bayswater   29771.650000
16                Bedford Park  108062.960000
17          Bedford Stuyvesant   67585.470000
18                  Beechhurst    9663.000000
19                    Bellaire   14144.000000
20                Belle Harbor    7844.260000
21                   Bellerose   13961.110000
22                     Belmont   59106.120000
23                 Bensonhurst   52533.580000
24                Bergen Beach   18545.780000
25                  Blissville    3130.390000
26                  Bloomfield    3585.030000
27                 Boerum Hill   45659.800000
28                Borough Park   51306.190000
29                Breezy Point    7844.260000
30                   Briarwood   41677.140000
31              Brighton Beach   56151.610000
32               Broad Channel    7844.260000
33           Broadway Junction       0.000000
34                   Bronxdale   71877.780000
35            Brooklyn Heights   65994.440000
36                  Brookville   14320.000000
37                 Brownsville   43791.450000
38                  Bulls Head    7232.000000
39                    Bushwick   56957.310000
40                Butler Manor    3257.780000
41             Cambria Heights   17673.950000
42                    Canarsie   30232.650000
43               Carnegie Hill   75573.610000
44             Carroll Gardens   27279.380000
45                 Castle Hill   29569.890000
46           Castleton Corners    9869.000000
47              Central Harlem   95355.910000
48                  Charleston    4557.170000
49                     Chelsea   58263.160000
50                   Chinatown   82242.310000
51                 City Island   18931.940000
52                   City Line   49230.300000
53                Civic Center   48705.560000
54           Claremont Village  108232.000000
55                Clason Point   29569.890000
56                     Clifton   15911.110000
57                     Clinton   80213.640000
58                Clinton Hill   53033.780000
59                  Co-op City   32674.830000
60                 Cobble Hill   65994.440000
61               College Point   13674.030000
62                     Concord   10349.000000
63                   Concourse   76949.560000
64           Concourse Village   99167.690000
65                Coney Island   22388.490000
66                      Corona   79369.440000
67                Country Club   18931.940000
68               Crown Heights   64942.930000
69               Cypress Hills   49230.300000
70                 Ditmas Park   43709.000000
71                Dongan Hills   11019.580000
72                  Douglaston   10367.350000
73                    Downtown   45659.800000
74                       Dumbo   45659.800000
75               Dyker Heights   40971.960000
76               East Elmhurst   26411.270000
77               East Flatbush   41978.050000
78                 East Harlem   83640.755000
79               East New York   32111.905000
80                East Tremont   64008.700000
81                East Village  110128.210000
82           East Williamsburg   26133.570000
83                 Eastchester   26643.750000
84                    Edenwald   26643.750000
85                    Edgemere   19218.470000
86              Edgewater Park   14395.580000
87                 Egbertville       0.000000
88                    Elm Park   15894.000000
89                    Elmhurst   50328.125000
90                 Eltingville    5889.530000
91                Emerson Hill    4838.160000
92                     Erasmus   54528.850000
93                Far Rockaway   29771.650000
94                   Fieldston   15998.300000
95          Financial District   49503.230000
96                    Flatbush   64261.110000
97                    Flatiron   58263.160000
98                   Flatlands   36184.620000
99                 Floral Park   15018.900000
100                   Flushing   33381.670000
101                    Fordham  115696.695000
102               Forest Hills   42351.690000
103       Forest Hills Gardens       0.000000
104                Fort Greene   54874.580000
105              Fort Hamilton     552.000000
106                  Fox Hills   15911.110000
107              Fresh Meadows   19500.000000
108               Fulton Ferry   47588.000000
109                 Georgetown   18545.780000
110            Gerritsen Beach   28707.930000
111                  Glen Oaks   15018.900000
112                   Glendale   33034.260000
113                    Gowanus   48774.340000
114                   Gramercy   98137.040000
115               Graniteville   10275.860000
116                 Grant City   11502.000000
117                   Grasmere   11168.030000
118                  Gravesend   27048.210000
119                Great Kills   12998.130000
120                 Greenpoint   27207.870000
121                 Greenridge   11733.040000
122          Greenwich Village   76507.000000
123                Grymes Hill   15911.110000
124           Hamilton Heights   90534.480000
125                    Hammels   19218.470000
126          Heartland Village    4838.160000
127               High  Bridge   65472.880000
128              Highland Park   33912.000000
129                  Hillcrest   25860.430000
130                     Hollis   25260.980000
131                 Holliswood   17840.520000
132                  Homecrest   41497.220000
133               Howard Beach   12363.760000
134               Howland Hook    1613.000000
135               Hudson Yards   58263.160000
136                   Huguenot    5889.530000
137              Hunters Point   18977.930000
138                Hunts Point   14708.430000
139                     Inwood   82076.560000
140            Jackson Heights   57003.490000
141             Jamaica Center   32208.240000
142            Jamaica Estates   17840.520000
143              Jamaica Hills   41677.140000
144                 Kensington   61224.560000
145                Kew Gardens   30237.840000
146          Kew Gardens Hills   27601.470000
147                Kingsbridge   37497.590000
148        Kingsbridge Heights   71791.490000
149                  Laurelton   18140.560000
150                Lefrak City   47616.000000
151                 Lenox Hill  106603.900000
152            Lighthouse Hill    4838.160000
153             Lincoln Square  112140.350000
154                 Lindenwood   12363.760000
155               Little Italy   48705.560000
156                Little Neck   10367.350000
157           Long Island City   22545.240000
158                   Longwood   73615.790000
159            Lower East Side   81950.000000
160                    Madison   41955.100000
161                      Malba    5634.000000
162            Manhattan Beach   28707.930000
163          Manhattan Terrace   42718.000000
164           Manhattan Valley   88223.000000
165             Manhattanville   62550.000000
166              Manor Heights       0.000000
167                Marble Hill   82076.560000
168                Marine Park   18545.780000
169           Mariner's Harbor   10275.860000
170                    Maspeth   25042.956667
171                    Melrose   67377.050000
172             Middle Village   20020.290000
173              Midland Beach   10657.290000
174                    Midtown   53269.235000
175              Midtown South   25698.150000
176                    Midwood   41725.000000
177                 Mill Basin   18545.780000
178                Mill Island    9519.130000
179        Morningside Heights   76112.500000
180             Morris Heights   75281.580000
181                Morris Park   21703.080000
182                 Morrisania   67377.050000
183                 Mott Haven   52189.890000
184                 Mount Eden   97042.000000
185                 Mount Hope  102030.190000
186                Murray Hill   61260.575000
187                   Neponsit    5560.000000
188               New Brighton   12914.930000
189                   New Dorp   10657.290000
190             New Dorp Beach   10240.000000
191                   New Lots   22176.000000
192            New Springville    3585.030000
193                       Noho   75072.000000
194               North Corona   84398.460000
195            North Riverdale   15998.300000
196                 North Side   55551.920000
197                    Norwood   71485.710000
198            Oakland Gardens   16306.010000
199                    Oakwood   10191.540000
200                 Ocean Hill   51118.060000
201              Ocean Parkway   46521.655000
202                   Old Town   11019.580000
203                  Olinville   52095.380000
204                 Ozone Park   26628.890000
205            Paerdegat Basin       0.000000
206                  Park Hill   13647.000000
207                 Park Slope   48774.340000
208                Parkchester   91872.730000
209                 Pelham Bay   18931.940000
210             Pelham Gardens   27278.070000
211             Pelham Parkway   34467.470000
212            Pleasant Plains    2854.000000
213                    Pomonok   25860.430000
214                 Port Ivory   10275.860000
215                Port Morris   35223.330000
216              Port Richmond   14727.480000
217               Prince's Bay    5889.530000
218           Prospect Heights   60272.970000
219  Prospect Lefferts Gardens   60122.120000
220        Prospect Park South   35893.000000
221             Queens Village   21894.780000
222            Queensboro Hill   21227.370000
223               Queensbridge   22545.240000
224              Randall Manor   19255.000000
225                 Ravenswood   22545.240000
226                   Red Hook   27279.380000
227                  Rego Park   39184.720000
228             Remsen Village   46970.940000
229              Richmond Hill   35668.850000
230              Richmond Town    3811.000000
231            Richmond Valley    4557.170000
232                  Ridgewood   42045.860000
233                  Riverdale   15998.300000
234                   Rochdale   20963.000000
235             Rockaway Beach    8800.000000
236              Rockaway Park    7844.260000
237           Roosevelt Island  106603.900000
238                   Rosebank   15138.320000
239                   Rosedale   12072.400000
240                  Rossville    9386.270000
241                    Roxbury      27.170000
242                      Rugby   46970.940000
243               Sandy Ground       0.000000
244              Schuylerville   14395.580000
245                   Sea Gate   22388.490000
246             Sheepshead Bay   28707.930000
247                Shore Acres     628.000000
248                Silver Lake   10265.680000
249                       Soho   48705.560000
250                 Somerville    5189.500000
251                  Soundview   46210.805000
252                South Beach   11019.580000
253              South Jamaica   30621.680000
254           South Ozone Park   27251.350000
255                 South Side   55551.920000
256        Springfield Gardens   20417.845000
257             Spuyten Duyvil   37497.590000
258                 St. Albans   19119.060000
259                 St. George   15564.180000
260                  Stapleton   15138.320000
261              Starrett City   29888.100000
262                   Steinway   22818.360000
263            Stuyvesant Town  111675.000000
264                  Sunnyside   18977.930000
265          Sunnyside Gardens   27448.000000
266                Sunset Park   47956.090000
267               Sutton Place   71958.000000
268                Throgs Neck   14395.580000
269                  Todt Hill    4838.160000
270              Tompkinsville   16378.000000
271                Tottenville    4557.170000
272                     Travis    3585.030000
273                    Tribeca   48705.560000
274                 Tudor City   63262.000000
275                 Turtle Bay   80840.320000
276                  Unionport   33074.420000
277         University Heights   75281.580000
278            Upper East Side   75573.610000
279            Upper West Side  105872.360000
280                     Utopia   19500.000000
281                   Van Nest   21703.080000
282               Vinegar Hill   45659.800000
283                  Wakefield   31269.230000
284         Washington Heights   99892.830000
285                 Weeksville   65284.000000
286              West Brighton   35607.895000
287                 West Farms   65405.560000
288               West Village   72658.890000
289         Westchester Square   27388.750000
290                Westerleigh   10800.000000
291                 Whitestone   12802.020000
292             Williamsbridge   52095.380000
293               Williamsburg   80542.860000
294                Willowbrook    5631.010000
295            Windsor Terrace   45518.000000
296                    Wingate   60122.120000
297                  Woodhaven   45396.240000
298                   Woodlawn   31269.230000
299                    Woodrow    9386.270000
300                   Woodside   41526.730000
301                  Yorkville  160120.410000

In [198]:
# manually update all discrepancies by manually cross-referencing between uber data names and nyc_geo data names
nyc_den.at[294, 'pop_density'] = 5631.01

In [199]:
nyc_den.isnull().sum()

name           0
pop_density    0
dtype: int64

In [201]:
nyc_den.to_csv('nyc_pop_density.csv', index=False)